{% extends 'geekshop/base.html' %}
{% load static %}

{% block content %}
    <div class="hero-white">
        {% include 'geekshop/includes/inc_main_menu_prod.html' %}
    </div>
    {% if user.is_authenticated %}
        <di class="container">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">№</th>
                            <th scope="col">Товар</th>
                            <th scope="col">Количество</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in basket %}
                        <tr>
                            <th scope="row" style="text-align: center">{{ forloop.counter }}</th>
                            <td>{{ item.product }}</td>
                            <td style="text-align: center">{{ item.quantity }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </di>
    {% endif %}
{% endblock %}