<div class="header clearfix">
	<a href="{% url 'index' %}" class="logo"></a>
	<ul class="menu">
		<li><a href="{% url 'index' %}">домой</a></li>
		<li><a href="{% url 'products:index' %}" class="active">продукты</a></li>
		<li><a href="{% url 'contacts' %}" class="top_contacts">контакты</a></li>
		{% if user.is_superuser %}
			<li>
				<a href="{% url 'admin_staff:users' %}" class="admin_ml" style="margin-left: 120px">
					Ад_мин_кА
				</a>
			</li>
		{% endif %}

		{% if user.is_authenticated %}
			<li>
				<div class="dropdown">

					<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
					   data-bs-toggle="dropdown" aria-expanded="false">
					{{ user.first_name|default:'Пользователь' }}
					</a>

					<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="min-width: 7rem">
						<li>
							<a class="dropdown-item" href="{% url 'auth:edit' %}">
								профиль
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'ordersapp:orders_list' %}">
								заказы
							</a>
						</li>
					</ul>
				</div>
			</li>
		{% endif %}

			<li>
				{% if user.is_authenticated %}
				  <a href="{% url 'auth:logout' %}" class="in_out">выйти</a>
				{% else %}
				  <a href="{% url 'auth:login' %}" class="in_out">войти</a>
				{% endif %}
			</li>
	</ul>
	<a href="#" class="search"></a>
	<a href="{% url 'basket:view' %}" class="basket_img"></a>
	<a href="{% url 'basket:view' %}" class="basket">
		<span>
			{% if basket %}
				(Товаров: {{ basket.0.total_quantity }} шт)
				(Сумма: {{ basket.0.total_cost|floatformat:0 }} руб)
			{% endif %}
		</span>
	</a>
</div>
